div {
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;    
}

.icon {
    size: 30px;
}
ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }